@font-face {
    font-family: 'simplifica';
    src: url('../fonts/simplifica_typeface-webfont.woff2') format('woff2'),
        url('../fonts/simplifica_typeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica';
}

#App {
    display: flex;
}
