#MasterView {
    width: 100%;
    background-color: #f0f0f0;
}

.master-container {
    background-color: #f7f7f7;
    height: 100%;

}
.master-container > h1 {
    text-align: center;
    padding-top: 50px;
    margin: 0px 0px 10px 0px;
}
.master-container > .indicator-light {
    width: 40px;
    position: absolute;
}
.body-container {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}
.body-container > p {
    margin-bottom: 50px;
}
#action-link-container {
    margin-bottom: 50px;
}
.action-link {
    text-align: center;
    display: block;
}
.explanation-link {
    display: block;
}
#no-selection {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
}
.explanation-link {
    display: block;
    text-align: center;
    margin-top: 10px;

}

#explanation-link-container {
    border-top: solid black 1px;
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
}
