#DetailMaster {
    width: 400px;
    border: solid #d5d5d5 1px;
    height: 100vh;
    overflow-y: scroll;
}

.indicator-light {
    width: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.article-container {
    border: solid 1px #d5d5d5;
    position: relative;
}

.article-container > h1 {
    font-size: 10px;

    margin:2px 25px 5px 5px;
}
.article-container > p {
    font-size: 12px;
    margin: 0px 0px 2px 5px;
}
